.catAd {
  align-self: start;
  display: flex;
  align-items: start;
  color: var(--primary);
}

.cover:hover + .info,
.cover:focus + .info {
  visibility: visible;
  transform: rotateY(0);
  transition: all 0.5s ease;
}

.reverse {
  composes: catAd;
  align-self: end;
  flex-direction: row-reverse;

  .cover > img {
    border-left: 10px solid var(--primary);
    border-right: none;
  }

  .info {
    transform-origin: right;
  }
}

.info {
  margin-top: 64px;
  visibility: hidden;
  transform-origin: left;
  transform: rotateY(-90deg);
  transition: all 0.5s ease;
}

.info > h2 {
  font-size: 2.5rem;
  padding: 32px;
  border-bottom: 10px solid var(--primary);
}

.info > h3 {
  font-size: 2rem;
  padding: 32px;
}

.cover > img {
  height: min(80vh, 40vw);
  padding: 0 32px;
  border-radius: 10px;
  border-right: 10px solid var(--primary);
}
