.catAd {
  align-self: start;
  display: flex;
  align-items: start;
  color: var(--primary);
}

.cover:hover + .title,
.cover:focus + .title {
  visibility: visible;
  transform: scaleX(1);
  transition: all 0.25s ease;
}

.reverse {
  composes: catAd;
  align-self: end;
  flex-direction: row-reverse;

  .cover > img {
    border-left: 10px solid var(--primary);
    border-right: none;
  }

  .title {
    transform-origin: right;
  }
}

.title {
  font-size: 2.5rem;
  padding: 4px 32px;
  border-bottom: 10px solid var(--primary);
  margin-top: 64px;
  visibility: hidden;
  transform-origin: left;
  transform: scaleX(0);
  text-decoration: none;
}

.cover > img {
  height: min(80vh, 40vw);
  padding: 0 32px;
  border-radius: 10px;
  border-right: 10px solid var(--primary);
}
