.linksList {
  list-style: none;
  display: flex;
  gap: 64px;
  padding: 8px;
}

.column {
  composes: linksList;
  flex-direction: column;
}

.linksItem > a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--secondary);
}

.linksItem > a:hover,
.linksItem > a:focus {
  text-decoration: underline 2px var(--secondary);
}
