.main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px;
  background-image: url('../assets/images/blue-circles.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.main > h1 {
  font-size: 3rem;
  align-self: center;
  color: var(--primary);
}
