.main {
  display: flex;
  flex-direction: column;
  padding: 64px;
  padding-bottom: 128px;
  background-image: url('../assets/images/blue-circles.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.main > h1 {
  font-size: 3rem;
  align-self: center;
  color: var(--primary);
  padding: 64px;
}

.main strong {
  display: block;
  font-size: 7rem;
  margin-top: 64px;
}
