.marquee {
  display: flex;
  height: 10vw;
  user-select: none;
  overflow: hidden;
  gap: 8px;
  padding: 16px 0;
  background-color: var(--dark-blue);
  color: white;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  animation: scroll 6s linear infinite;
}

.group p {
  font-size: 5.5vw;
  font-weight: 800;
  text-wrap: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 16px));
  }
}
