.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(211, 211, 211, 0.5);
  backdrop-filter: blur(32px);
  padding: 0 64px;
  z-index: 10;
}

.logo > img {
  height: 128px;
  width: auto;
}

.cart {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.cart > img {
  display: block;
  height: 32px;
  width: auto;
}
