.item {
  display: grid;
  grid-template-rows: 25vh max-content 1fr max-content;
  height: 50vh;
  padding: 16px;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.item > img {
  justify-self: center;
  height: 25vh;
  object-fit: contain;
  padding: 16px;
}

.item h2 {
  font-size: 1rem;
  font-weight: 400;
}

.item > p {
  font-size: 1.1rem;
  font-weight: 700;
}
