.main {
  width: 100%;
  display: grid;
  grid-template: 'side main' / 20vw 1fr;
  padding: 64px;
}

.categories > div {
  position: sticky;
  top: 128px;
}

.categories h2 {
  margin-bottom: 32px;
}

@media (max-width: 1000px) {
  .main {
    padding: 32px;
    grid-template:
      'side'
      'main';
  }

  .main aside {
    padding: 32px 0;
    margin-bottom: 32px;
  }

  .main aside ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 175px);
    justify-items: center;
    gap: 0;
  }

  .main aside h2 {
    margin: 0;
  }

  .main aside ul li {
    margin-top: 32px;
  }
}
