.banner {
  display: grid;
  grid-template:
    'slogan future'
    'quote future'
    'shop future' / 1fr 1fr;
  align-items: center;
  gap: 32px;
  min-height: calc(100vh - 132px);
  padding: 64px;
  padding-bottom: 96px;
  color: var(--primary);
}

.slogan {
  grid-area: slogan;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 5rem;
}

.slogan span {
  display: block;
  text-align: center;
}

.slogan span:nth-of-type(2) {
  text-align: start;
}

.slogan strong {
  font-size: 6rem;
}

.quote {
  grid-area: quote;
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
}

.shop {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.shop > a {
  grid-area: shop;
  justify-self: center;
  text-decoration: none;
  text-wrap: nowrap;
  font-weight: 700;
  font-size: 2rem;
  background-size: 300% 100%;
  background-position: 100% 0;
  background-image: linear-gradient(
    90deg,
    var(--secondary),
    var(--idle-dark),
    var(--primary)
  );
  color: var(--invert);
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.shop > a:hover,
.shop > a:focus {
  background-position: 0;
  transition: all 0.5s ease-in-out;
}

.shop > a:hover ~ img,
.shop > a:focus ~ img {
  visibility: visible;
}

.shop img {
  visibility: hidden;
  opacity: 0.5;
  height: 48px;
  width: auto;
}

.shop > img:nth-of-type(1) {
  animation: show 0.75s infinite ease;
  transition: visibility 0s 0.5s;
}

.shop > img:nth-of-type(2) {
  animation: show 0.75s infinite ease 0.25s;
  transition: visibility 0s 0.75s;
}

.shop > img:nth-of-type(3) {
  animation: show 0.75s infinite ease 0.5s;
  transition: visibility 0s 1s;
}

.future {
  grid-area: future;
  justify-self: center;
  width: 35vw;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: var(--primary) 0px 0px 16px 16px;
}

@keyframes show {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}
