.catAd {
  width: calc(100vw - 128px);
  align-self: start;
  display: flex;
  align-items: center;
  color: var(--primary);
  padding: 64px 0;
  padding-bottom: 32px;
}

.reverse {
  composes: catAd;
  align-self: end;
  flex-direction: row-reverse;

  .info {
    transform-origin: right;
  }
}

.cover {
  background-color: var(--invert);
  border-radius: 5%;
  box-shadow: 0px 0px 4px var(--primary);
}

.cover > img {
  width: 40vw;
  padding: 0 32px;
}

.cover:hover + .info,
.cover:focus + .info {
  visibility: visible;
  transform: rotateY(0);
  transition: all 0.5s ease;
}

.info {
  flex: 1;
  visibility: hidden;
  transform-origin: left;
  transform: rotateY(-90deg);
  transition: all 0.5s ease;
  color: black;
}

.info > h2 {
  font-size: 2.5rem;
  padding: 32px;
  border-bottom: 6px solid black;
}

.info > h3 {
  font-size: 2rem;
  padding: 32px;
}
