.main {
  display: flex;
  flex-direction: column;
  padding: 64px;
  background-image: url('../../assets/images/blue-circles.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  text-align: center;
}

.main > h1 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 3rem;
  align-self: center;
  color: var(--primary);
  padding: 32px;
}

.main strong {
  display: block;
  font-size: 7rem;
  margin-top: 64px;
}

@media (max-width: 1000px) {
  .main {
    padding: 32px;
  }

  .main > h1 {
    font-size: var(--huge-font);
  }

  .main strong {
    font-size: 6rem;
    margin-top: 32px;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 24px;
  }

  .main > h1 {
    font-size: var(--large-font);
    padding: 16px;
  }

  .main strong {
    font-size: 3.5rem;
    margin-top: 32px;
  }
}
