.marquee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  overflow: hidden;
  gap: 16px;
  padding: 16px 0;
  background-color: var(--primary);
  color: var(--invert);
}

.marquee p {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 6vw;
  font-weight: 700;
  text-wrap: nowrap;
  animation: scroll 4s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 16px));
  }
}
