@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;

  --primary: #202040;
  --invert: #efefff;
  --secondary: #403020;
  --idle: darkgray;

  background-color: var(--invert);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
