.footer {
  display: grid;
  grid-template:
    'about categories links'
    'author author author' / 2fr 1fr 1fr;
  align-items: start;
  padding: 64px;
  background-color: var(--primary);
  color: var(--invert);
}

.about {
  grid-area: about;
}

.about h1 {
  margin-bottom: 32px;
  font-size: var(--large-font);
}

.about p {
  font-size: var(--medium-font);
}

.links {
  grid-area: links;
  justify-self: end;
}

.categories {
  grid-area: categories;
  justify-self: end;
}

.categories h2,
.links h2 {
  font-size: var(--large-font);
  margin-bottom: 32px;
}

.links ul {
  padding: 0;
  gap: 32px;
}

.links ul a,
.categories ul a,
a {
  font-weight: 700;
  text-decoration: none;
  color: var(--idle);
}

.links ul a:hover,
.links ul a:focus,
.categories ul a:hover,
.categories ul a:focus,
.author a:hover,
.author a:focus {
  color: var(--invert);
  transition: color 0.33s ease;
}

.author {
  grid-area: author;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: var(--small-font);
  margin-top: 64px;
  color: var(--idle);
}

.author div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author div p {
  margin-left: 16px;
}

.author img {
  height: 32px;
  width: auto;
  transition: all 0.75s ease;
}

.author img:hover,
.author a:focus > img {
  transition: all 0.75s ease;
  transform: rotate(360deg) scale(1.2);
}

@media (max-width: 1000px) {
  .footer {
    grid-template:
      'about about '
      'categories links'
      'author author';
    padding: 32px;
  }

  .about {
    margin-bottom: 64px;
  }

  .links,
  .categories {
    justify-self: start;
  }

  .author {
    margin-top: 64px;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template:
      'about'
      'categories'
      'links'
      'author';
    gap: 32px;
    padding: 24px;
  }

  .about,
  .author {
    margin: 0;
  }

  .about h1 {
    margin-bottom: 32px;
    font-size: var(--medium-font);
  }

  .about p {
    font-size: var(--small-font);
  }

  .categories h2,
  .links h2 {
    font-size: var(--medium-font);
  }

  .links ul,
  .categories ul {
    gap: 16px;
  }

  .links ul a,
  .categories ul a {
    font-size: var(--small-font);
  }

  .author {
    font-size: var(--a-grain-of-sand-font);
    gap: 16px;
  }

  .author img {
    height: 24px;
  }

  .author div p {
    text-align: center;
    margin-left: 8px;
  }

  .author > p {
    text-align: end;
  }
}
