.footer {
  display: grid;
  grid-template:
    'about categories links'
    'author author author' / 2fr 1fr 1fr;
  align-items: start;
  padding: 64px;
  background-color: var(--primary);
  color: var(--invert);
}

.about {
  grid-area: about;
}

.about h1 {
  margin-bottom: 32px;
  font-size: 1.6rem;
}

.about p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.links {
  grid-area: links;
  justify-self: end;
}

.categories {
  grid-area: categories;
  justify-self: end;
}

.categories h2,
.links h2 {
  font-size: 1.6rem;
  margin-bottom: 32px;
}

.links ul {
  padding: 0;
  gap: 32px;
}

.categories a,
.links a {
  color: var(--idle);
}

.categories a:hover,
.categories a:focus,
.links a:hover,
.links a:focus {
  color: var(--invert);
  transition: color 0.33s ease;
}

.author {
  grid-area: author;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.1rem;
  margin-top: 64px;
  color: var(--idle);
}

.author div {
  display: flex;
  align-items: center;
}

.author img {
  height: 32px;
  width: auto;
  margin-right: 16px;
  transition: all 0.75s ease;
}

.author img:hover,
.author a:focus > img {
  transition: all 0.75s ease;
  transform: rotate(360deg) scale(1.2);
}

.author :last-child {
  text-align: end;
}

.author :last-child > a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.author :last-child > a:hover,
.author :last-child > a:focus {
  color: var(--invert);
  transition: color 0.33s ease;
}
