.loading {
  display: flex;
  justify-content: center;
  margin: 128px;
}

.loading > img {
  height: 128px;
  width: auto;
}

@media (max-width: 1000px) {
  .loading {
    margin: 64px;
  }
}

@media (max-width: 600px) {
  .loading {
    margin: 32px;
  }

  .loading > img {
    height: 64px;
  }
}
