.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #efefff80;
  backdrop-filter: blur(32px);
  padding: 32px 64px;
  z-index: 10;
  transition: all 0.5s ease-out;
}

.navBar.hidden {
  transition: all 0.5s ease-in;
  transform: translateY(-105px);
}

.logo > img {
  height: 32px;
  width: auto;
}

.cart {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.cart > img {
  display: block;
  height: 32px;
  width: auto;
}
