.navBar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  min-height: 128px;
  background-color: #efefff80;
  backdrop-filter: blur(32px);
  padding: 32px 64px;
  z-index: 10;
  transition: all 0.5s ease-out;
}

.navBar.hidden {
  transition: all 0.5s ease-in;
  transform: translateY(-128px);
}

.logo > img {
  height: 32px;
  width: auto;
}

.burgerMenu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 0 64px;
}

.burgerButton {
  display: none;
}

.burgerButton,
.cart {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.burgerButton > img,
.cart > img {
  display: block;
  height: 32px;
  width: auto;
}

@media (max-width: 1000px) {
  .navBar {
    padding: 32px;
    justify-content: space-between;
  }

  .burgerButton {
    display: block;
    order: 1;
  }

  .logo {
    order: 2;
  }

  .cart {
    order: 3;
  }

  .cart.hidden,
  .logo.hidden {
    display: none;
  }

  .burgerMenu {
    order: 2;
    display: none;
    margin-right: 0;
    margin-left: 32px;
  }

  .burgerMenu.visible {
    display: flex;
  }
}

@media (max-width: 600px) {
  .navBar {
    padding: 24px;
    min-height: 92px;
  }

  .burgerButton > img,
  .cart > img,
  .logo > img {
    height: 24px;
  }

  .burgerMenu {
    margin-left: 16px;
  }

  .burgerMenu ul {
    gap: 16px;
  }

  .burgerMenu ul a {
    font-size: var(--tiny-font);
  }
}
