.error {
  display: flex;
  flex-direction: column;
  margin: 128px;
  align-items: center;
}

.error > h2 {
  text-align: center;
  font-size: var(--large-font);
  margin-bottom: 32px;
}

.error > a {
  text-decoration: none;
  font-size: var(--medium-font);
  font-weight: 700;
  padding: 16px 32px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--invert);
  cursor: pointer;
}
