.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  transition: border 0.5s ease;
  border: 2px solid var(--idle);
  border-radius: 3px;
}

.search:focus-within {
  transition: border 0.5s ease;
  border: 2px solid var(--secondary);
}

.searchBox {
  padding: 8px;
  font-size: 1.1rem;
  border: none;
  outline: none;
}

.searchButton {
  padding: 8px;
  border: none;
  cursor: pointer;
}

.searchButton > img {
  vertical-align: middle;
  width: 20px;
  height: auto;
}
